{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="main-contain">



    <br>
    <div class="row">

        {% for medicine in medicines  %}
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">{{ medicine.name }} {{ medicine.weight }}</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">{{ medicine.price }}</span>
                                <span class="widget-49-date-month">TK</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Price</span>
                                <!-- <span class="widget-49-meeting-time">{{ medicine.measurement_unit }}</span> -->
                            </div>
                        </div>
                        <p class="widget-49-date-day" style="margin-bottom: 5px; margin-top: 15px"><b>Generic:</b>
                            {{ medicine.generic_name }}</p>
                        <p><b>Manufacturer:</b> {{ medicine.manufacturer_name }}</p>
                        <div class="widget-49-meeting-action">
                            <a href="{% url 'details' medicine.pk medicine.slug %}"
                                class="btn btn-sm btn-flash-border-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "snippets/pagination.html" with medicines=medicines %}
</div>
{% endblock content %}