.no_data-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 3s ease-in-out;
}

.no_data {
  width: 500px;
}

.no_data-wrapper > p {
  margin-top: 3rem;
  font-size: 4rem;
}

@media screen and (max-width: 500px) {
  .no_data {
    width: 300px;
  }

  .no_data-wrapper > p {
    font-size: 2rem;
  }
}
