<style>
  .page-three {
  margin-top: 1rem;
}

.ads-card {
  background-color: var(--white);
  padding: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ads-card-main {
  display: flex;
}

.ads-card-img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.ads-card-texts {
  padding-left: 15px;
}

.ads-card-texts-top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 13px;
}

.ads-reward {
  background-color: var(--light-red);
  color: var(--dark-red);
  font-weight: 600;
  padding: 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.ads-card-texts-bottom {
  margin-top: 0.8rem;
  font-size: 0.96rem;
}

.ads-card-texts-bottom-top {
  color: var(--dark-gray);
  font-weight: 700;
}

.ads-card-texts-bottom-bottom {
  color: var(--very-light-gray-2);
}

.ads-card-footer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-green);
  border: 0;
  box-shadow: var(--box-shadow);
  padding: 4px 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.coins {
  width: 20%;
  background-color: var(--dark-green-2);
  color: var(--white);
  padding: 10px 0px;
  margin-left: 0.4rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.start-offer {
  color: var(--dark-gray);
  width: 70%;
  font-weight: 700;
  padding: 10px 0;
}

@media screen and (max-width: 668px) {
  .coins,
  .start-offer {
    padding: 3px 0;
  }
}

@media screen and (max-width: 497px) {
  .coins {
    font-size: 10px;
    width: 30%;
  }
}

</style>