<style>

    .search-offers-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    animation-name: search-offers-detailsa-open;
    animation-duration: 0.5s;
}
  
@keyframes search-offers-detailsa-open {
    from {
        transform: translateY(200%) translateX(0%);
    }
    to {
    }
}



.search-offers-details-wrapper {
    width: 100%;
    margin-top: 25px;
    left: 0;
}







.search-offers-details-close {
    outline: none;
    border: none;
    color: var(--dark-gray);
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 15px;
}

.search-offers-text {
    width: 100%;
    padding: 10px 0 10px 33px;
    color: var(--dark-gray);
    border: none;
    outline: none;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.discover-offers {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

/* @media screen and (max-width: 497px) {
    .search-text {
        width: 300px;
    }
}

@media screen and (max-width: 346px) {
    .search-text {
        width: 240px;
    }
} */
</style>