<!--header-->
<header class="header">
    <button class="header-menu-icon" onclick="openNav()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <h2 class="title">
        <a href="/"><span class="title-dark-gray">Infos</span><span class="title-light-green">Div</span></a>
    </h2>
    <div class="header-user-icon" style="visibility: hidden;">
        <i class="fa-solid fa-user"></i>
    </div>
</header>
<!--header-->

<section class="sidenav-wrapper">
    <div id="mySidenav" class="sidenav">
        <div class="sidenav-header">
            <p>Main menu</p>
            <i href="/" class="fa-solid fa-xmark" onclick="closeNav()">
            </i>
        </div>
        <a href="{% url "privacy-policy" %}"><i class="fa-solid fa-arrow-trend-up"></i> Privacy policy</a>
    </div>
</section>